<div class="row align-items-start" style="margin-top: 2%;">
  <div class="col">
    <img src=<%= @image_1.link %> class="img-fluid" alt=<%= @image_1.alt_text%>>
  </div>
  <div class="col">
    <img src=<%= @image_2.link %> class="img-fluid" alt=<%= @image_2.alt_text%>>
  </div>
  <div class="col">
    <img src=<%= @image_11.link %> class="img-fluid" alt=<%= @image_11.alt_text%>>
  </div>
</div>
